<tr id="product-<%= product.slug %>-instance-<%= reservation.serial_no %>" class="product">
  <% if index == 0 %>
    <td rowspan="<%= num_instances %>">
      <%= link_to product.name, event_product_path(@event, product) %> <br>
      <%= product_image product, height: 100 %>
      <%= format_product_location product %>
    </td>
  <% end %>
  <td class="text-right">
    <%= form_for reservation, remote: true do |f| %>
      <div class="grid-x grid-margin-x">
        <div class="small-9 medium-8 cell">
          <span class="hide-for-medium"><%= t ".unit_price" %></span>
          <%= f.number_field :unit_price, class: "text-right", min: 0, step: BigDecimal("0.01") %>
        </div>
        <div class="small-3 medium-4 cell">
          <%= submit_tag "Save", class: "button tiny" %>
        </div>
      </div>
    <% end %>
  </td>
  <td>
    <% if reservation.loanable? && reservation.product.quantity > 1 %>
      <%= form_tag event_reservations_path(@event), remote: true, method: :post do %>
        <%= hidden_field_tag "instances[#{reservation.serial_no}]", value="1" %>
        <%= hidden_field_tag "back_to_manage", "1" %>
        <%= hidden_field_tag "switch", "1" %>
        <%= submit_tag t(".switch_instance_button_label"), name: "switch", class: "button expanded warning"%>
      <% end %>
    <% end %>
    <%= format_serial_no(reservation.serial_no) %><br>
  </td>
  <td>
    <% if leased_on = reservation.leased_on %>
      <span class="hide-for-large"><%= t(".leased_on_header") %></span> <%= l leased_on, format: :default %>
    <% else %>
      <%= form_tag event_reservations_path(@event), remote: true, method: :post do %>
        <%= hidden_field_tag "instances[#{reservation.serial_no}]", value="1" %>
        <%= hidden_field_tag "back_to_manage", "1" %>
        <%= hidden_field_tag "lease", "1" %>
        <%= submit_tag t(".lease_button_label"), name: "lease", class: "button expanded primary"%>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if returned_on = reservation.returned_on %>
      <span class="hide-for-large"><%= t(".returned_on_header") %></span> <%= l returned_on, format: :default %>
    <% elsif leased_on %>
      <%= form_tag event_reservations_path(@event), remote: true, method: :post do %>
        <%= hidden_field_tag "instances[#{reservation.serial_no}]", value="1" %>
        <%= hidden_field_tag "back_to_manage", "1" %>
        <%= hidden_field_tag "hold", "1" %>
        <%= submit_tag t(".hold_button_label"), name: "hold", class: "button expanded warning"%>
      <% end %>

      <%= form_tag event_reservations_path(@event), remote: true, method: :post do %>
        <%= hidden_field_tag "instances[#{reservation.serial_no}]", value="1" %>
        <%= hidden_field_tag "back_to_manage", "1" %>
        <%= hidden_field_tag "return", "1" %>
        <%= submit_tag t(".return_button_label"), name: "return", class: "button expanded secondary"%>
      <% end %>
    <% end %>
  </td>
</tr>
