<div class="grid-x grid-padding-x">
  <div class="cell large-10 medium-12">
    <%= form_tag reservations_path(@event), method: :get do %>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="medium-shrink cell">
            <%= label_tag :filter, "Filter", class: "middle" %>
          </div>
          <div class="medium-shrink cell">
            <%= text_field_tag :filter, @filter %>
          </div>

          <div class="medium-shrink cell">
            <%= label_tag :category, "Category", class: "middle" %>
          </div>
          <div class="medium-shrink cell">
            <%= select_tag :category, options_from_collection_for_select(@categories, :slug, :name, @selected_category ? @selected_category.slug : nil), include_blank: true %>
          </div>

          <div class="medium-auto cell">
            <%= submit_tag "Search", class: "button" %> <%= link_to "View all", reservations_path(@event), class: "button secondary" %>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to "Back to Event", @event, class: "button hide-for-large" %>

    <%= form_tag reservations_path(@event), method: :post do %>
      <table class="hover stack">
        <thead>
          <th></th>
          <th>Product</th>
          <th>Reservations</th>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr class="<%= product_reservation_css_class(@event, product) %>">
              <td>
                <%= check_box_tag "products[#{product.slug}]", value="1", checked=false %>
              </td>
              <td>
                <%= image_tag product.images.first, alt: "", size: "80x80" if product.images.first %>
                <%= link_to product.name, product_path(product) %>
              </td>
              <td>
                <% product.reservations.select{|res| res.dates_overlap?(@event)}.each do |reservation| %>
                  <span title="<%= format_date_range(reservation.date_range) %>"><%= reservation.event.title %></span><br>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= submit_tag "Add to reservation",      name: "add", class: "button primary" %>
      <%= submit_tag "Remove from reservation", name: "remove", class: "button warning" %>
    <% end %>
  </div>

  <div class="cell large-2 medium-12 show-for-large">
    <%= link_to "Back to Event", @event, class: "button expanded" %>
  </div>
</div>
