<div class="grid-x grid-margin-x">
  <div class="large-9 medium-12 cell">
    <%= form_tag event_reservations_path(@event), method: :get do %>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="medium-shrink cell">
            <%= label_tag :filter, t(".filter"), class: "middle" %>
          </div>
          <div class="medium-shrink cell">
            <%= text_field_tag :filter, @filter %>
          </div>

          <div class="medium-shrink cell">
            <%= label_tag :category, t(".category"), class: "middle" %>
          </div>
          <div class="medium-shrink cell">
            <%= select_tag :category, options_from_collection_for_select(@categories, :slug, :name, @selected_category ? @selected_category.slug : nil), include_blank: true %>
          </div>

          <div class="medium-auto cell">
            <%= submit_tag t(".search_button_label"), class: "button" %> <%= link_to t(".view_all_button_label"), event_reservations_path(@event), class: "button secondary" %>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to t(".back_to_event"), @event, class: "button hide-for-large" %>

    <%= form_tag event_reservations_path(@event), method: :post do %>
      <table class="hover stack product-list">
        <thead>
          <th></th>
          <th><%= t(".product_header") %></th>
          <th><%= t(".reservations_header") %></th>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr class="<%= product_reservation_css_class(@event, product) %>">
              <td>
                <%= check_box_tag "products[#{product.slug}]", value="1", checked=false %>
              </td>
              <td>
                <%= link_to product.name, product %> <br>
                <% if product.images.first %>
                  <%= image_tag product.images.first, alt: "", class: "product-image" %>
                <% else %>
                  <%= image_tag "https://via.placeholder.com/100x100?text=%20", alt: "", class: "product-image" %>
                <% end %>
              </td>
              <td>
                <% product.reservations.select{|res| res.dates_overlap?(@event)}.each do |reservation| %>
                  <span title="<%= format_date_range(reservation.date_range) %>"><%= reservation.event.title %></span><br>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= submit_tag t(".add_to_reservation_button_label"),      name: "add", class: "button primary" %>
      <%= submit_tag t(".remove_from_reservation_button_label"), name: "remove", class: "button warning" %>
    <% end %>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to t(".back_to_event"), @event, class: "button expanded" %>
  </div>
</div>
