<p>Products on event <%= link_to @event.title, @event_url %> are all reserved.</p>
<p>The event runs from <%= format_date_range @event.real_date_range %>.</p>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @event.reservations.group_by(&:product).sort_by{|product, _| product.sort_key_for_pickup}.each do |product, reservations| %>
      <tr>
        <td>
          <%= product.name %><br>
          <%= format_product_location product, plain: true %>
        </td>
        <td><%= number_with_delimiter reservations.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
