<%= form_with(model: group, local: true) do |form| %>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <% if group.errors.any? %>
        <div class="small-12 cell">
          <div id="error_explanation">
            <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

            <ul>
              <% group.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="small-12 cell">
        <%= form.label :name %>
        <%= form.text_field :name, autocomplete: false %>
      </div>

      <div class="small-12 cell">
        <%= form.label :logo %>
        <%= form.file_field :logo %>
      </div>

      <div class="small-12 cell">
        <%= form.submit class: "button primary" %>
        <%= render partial: "shared/or" %>
        <% if @group.new_record? %>
          <%= link_to t(".cancel_button_label"), groups_path, class: "button secondary" %>
        <% else %>
          <%= link_to t(".cancel_button_label"), @group, class: "button secondary" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
