<div class="grid-x grid-margin-x">
  <div class="large-9 medium-12 cell">
    <%= link_to t(".edit_button_label"), edit_group_path(@group), class: "button large hide-for-large" %>
    <%= link_to t(".back_to_list"), groups_path, class: "button secondary large hide-for-large" %>

    <h2><%= t(".members") %></h2>
    <table class="hover stack">
      <thead>
        <tr>
          <th><%= t(".name_header") %></th>
          <th><%= t(".email_header") %></th>
        </tr>
      </thead>
      <tbody>
        <% @group.members.reject(&:new_record?).sort_by(&:sort_key).each do |member| %>
          <tr>
            <td><%= link_to member.name, edit_member_path(member) %></td>
            <td><%= mail_to member.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to t(".edit_button_label"), edit_group_path(@group), class: "button expanded" %>
    <%= link_to t(".back_to_list_button_label"), groups_path, class: "button secondary expanded" %>

    <hr>

    <h3><%= t(".add_member_header") %></h3>
    <%= form_for @member, url: group_members_path(@group) do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name, autocomplete: false %>

      <%= form.label :email %>
      <%= form.email_field :email, autocomplete: false %>

      <%= form.submit class: "button primary" %>
    <% end %>
  </div>
</div>
