<div class="grid-x grid-margin-x">
  <div class="large-9 medium-12 cell">
    <%= link_to t(".edit_button_label"), edit_group_path(@group), class: "button large hide-for-large" %>
    <%= link_to t(".back_to_list"), groups_path, class: "button secondary large hide-for-large" %>

    <h2>
      <% if @group.logo.attached? %>
        <%= image_tag @group.logo.variant(resize: "x55"), alt: "", height: 55, style: "max-height: 55px" %>
      <% end %>
      <%= t(".members") %>
    </h2>
    <% @group.troops.reject(&:new_record?).sort_by(&:sort_key).each do |troop| %>
      <table class="hover stack">
        <caption><%= link_to troop.name, edit_troop_path(troop) %></caption>
        <thead>
          <tr>
            <th><%= t(".name_header") %></th>
            <th><%= t(".email_header") %></th>
          </tr>
        </thead>
        <tbody>
          <% troop.members.reject(&:new_record?).sort_by(&:sort_key).each do |member| %>
            <tr>
              <td><%= link_to member.name, edit_member_path(member) %></td>
              <td>
                <%= form_for :membership, url: group_membership_path(@group, member.memberships.detect{|m| m.troop == troop}), method: :delete do |form| %>
                  <%= mail_to member.email %>
                  <%= form.submit t(".unattach"), class: "button alert small" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <%= form_for :membership, url: group_memberships_path(@group) do |form| %>
                <%= form.hidden_field :troop_slug, value: troop.slug %>
                <%= form.label :email, t(".attach_member", troop_name: troop.name) %>
                <%= form.text_field :email, autocomplete: false, placeholder: t(".attach_member_email_placeholder") %>
                <%= form.submit t(".attach_button_label"), class: "button secondary" %>
              <% end %>
            </td>
          </tr>
        </tfoot>
      </table>
    <% end %>
    <% if (@group.members.reject(&:new_record?) - @group.troops.map(&:members).flatten).any? %>
      <table class="hover stack">
        <caption><%= t(".unattached") %></caption>
        <thead>
          <tr>
            <th><%= t(".name_header") %></th>
            <th><%= t(".email_header") %></th>
          </tr>
        </thead>
        <tbody>
          <% (@group.members.reject(&:new_record?) - @group.troops.map(&:members).flatten).sort_by(&:sort_key).each do |member| %>
            <tr>
              <td><%= link_to member.name, edit_member_path(member) %></td>
              <td><%= mail_to member.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to t(".edit_button_label"), edit_group_path(@group), class: "button expanded" %>
    <%= link_to t(".back_to_list_button_label"), groups_path, class: "button secondary expanded" %>

    <hr>

    <h3><%= t(".add_troop_header") %></h3>
    <%= form_for @troop, url: group_troops_path(@group) do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name, autocomplete: false %>

      <%= form.label :position %>
      <%= form.number_field :position, autocomplete: false %>

      <%= form.submit class: "button primary" %>
    <% end %>

    <hr>

    <h3><%= t(".add_member_header") %></h3>
    <%= form_for @member, url: group_members_path(@group) do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name, autocomplete: false %>

      <%= form.label :email %>
      <%= form.email_field :email, autocomplete: false %>

      <%= form.submit class: "button primary" %>
    <% end %>
  </div>
</div>
