<div class="grid-container">
  <div class="grid-x">
    <div class="small-12 medium-9 cell">
      <h3>What is Scoutin?</h3>
      <p>Scoutin is a tool designed to enable a scouts group to better work together. Each scout group has their own workspace.</p>

      <h3>Why?</h3>
      <h4>Managing your inventory</h4>
      <h4>Preventing two units from renting the same product at the same time</h4>
      <h4>Improve communication</h4>

      <h3>Registering</h3>
      <p>To register for this service, please fill out this form. All fields are required.</p>
      <%= form_tag "#", method: :post do %>
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="small-12 cell">
              <%= label_tag :name %>
              <%= text_field_tag :name, "", placeholder: "Sheila Hammond" %>
            </div>

            <div class="small-8 cell">
              <%= label_tag :email %>
              <%= email_field_tag :email, "", placeholder: "sheila@example.com" %>
            </div>

            <div class="small-4 cell">
              <%= label_tag :phone %>
              <%= phone_field_tag :phone, "", placeholder: "555 424-1192" %>
            </div>

            <div class="small-12 cell">
              <%= label_tag :group %>
              <%= text_field_tag :group, "", placeholder: "43rd Scout Group of Springfield" %>
            </div>
          </div>

          <div class="small-12 cell">
            <div>
              <%= check_box_tag :terms_of_service, false %> <%= label_tag :terms_of_service, "I agree to the terms of service" %>
            </div>
            <%= submit_tag "Sign Up", class: "button primary large" %>
            <span class="post-signup-message h5">After signing up, you will be able to invite other people to your Scout Group.</span>
          </div>
        </div>
      <% end %>
    </div>

    <div class="small-12 medium-3 cell">
      <h2>Authenticate</h2>
      <%= render partial: "sessions/authentication_form" %>
    </div>
  </div>
</div>
