<p id="notice"><%= notice %></p>

<h1>Events</h1>
<%= form_tag events_path, method: :get do %>
  <%= label_tag :after %>
  <%= date_field_tag :after, @after.to_date.to_formatted_s(:iso8601) %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start on</th>
      <th>End on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="6"><%= link_to "Include previous year", events_path(after: (@after - 1.year).to_formatted_s(:iso8601)) %></td>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.start_on %></td>
        <td><%= event.end_on %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
