<div class="grid-x grid-padding-x">
  <div class="large-9 medium-12 cell">
    <%= form_tag events_path, method: :get do %>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="medium-shrink cell">
            <%= label_tag :after, "On or after", class: "middle" %>
          </div>
          <div class="medium-shrink cell">
            <%= date_field_tag :after, @after.to_date.to_formatted_s(:iso8601) %>
          </div>
          <div class="medium-auto cell">
            <%= submit_tag "Search", class: "button" %> <%= link_to "View all", events_path, class: "button secondary" %>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to "New Event", new_event_path, class: "button hide-for-large" %>

    <table class="hover stack">
      <thead>
        <tr>
          <th>Title</th>
          <th>Start on</th>
          <th>End on</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="6"><%= link_to "&laquo; Include previous year".html_safe, events_path(after: (@after - 1.year).to_formatted_s(:iso8601)) %></td>
        </tr>
        <% @events.each do |event| %>
          <tr>
            <td><%= link_to event.title, event %></td>
            <td><%= event.start_on %></td>
            <td><%= event.end_on %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to "New Event", new_product_path, class: "button expanded" %>
  </div>
</div>
