<div class="grid-x grid-padding-x">
  <div class="large-9 medium-12 cell">
    <%= form_tag events_path, method: :get, class: "search-form" do %>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="medium-shrink cell show-for-sr">
            <%= label_tag :after, t(".on_or_after_label"), class: "middle" %>
          </div>
          <div class="medium-shrink cell">
            <%= date_field_tag :after, @after.to_date.to_formatted_s(:iso8601) %>
          </div>
          <div class="medium-auto cell">
            <%= submit_tag t(".search_button_label"), class: "button" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <%= link_to t(".new_event_button_label"), new_event_path, class: "button hide-for-large" %>
        </div>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <table class="hover stack">
            <thead>
              <tr>
                <th><%= t(".title_header") %></th>
                <th><%= t(".start_on_header") %></th>
                <th><%= t(".end_on_header") %></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td colspan="6"><%= link_to t(".include_previous_year_html"), events_path(after: (@after - 1.year).to_formatted_s(:iso8601)) %></td>
              </tr>
              <% @events.each do |event| %>
                <tr>
                  <td><%= link_to event.title, event %></td>
                  <td><span class="hide-for-large"><%= t(".start_on_header") %></span> <%= event.start_on %></td>
                  <td><span class="hide-for-large"><%= t(".end_on_header") %></span> <%= event.end_on %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to t(".new_event_button_label"), new_event_path, class: "button expanded" %>
  </div>
</div>
