<div class="grid-x grid-margin-x">
  <div class="small-12 cell">
    <h2><%= format_date_range(@event.date_range) %></h2>

    <h4><%= t(".printed_by_on", by: current_member.name, on: l(Date.today, format: :short)) %></h4>

    <%= simple_format @event.description %>
  </div>

  <div class="small-12 cell">
    <table class="unstriped">
      <thead>
        <tr>
          <th></th>
          <th><%= t(".quantity_header") %></th>
          <th><%= t(".product_header") %></th>
          <th><%= t(".location_header") %></th>
        </tr>
      </thead>
      <tbody>
        <% @event.reservations.group_by(&:product).sort_by{|product, _| product.sort_key_for_pickup}.each do |product, reservations| %>
          <tr>
            <td></td>
            <td><%= number_with_delimiter reservations.size %></td>
            <td><%= link_to product.name, product %></td>
            <td>
              <%= format_product_location product %>
              <% if product.instances.size > 1 %>
                <div class="grid-x grid-margin-x small-up-4 medium-up-6">
                  <% reservations.sort_by(&:serial_no).each do |reservation| %>
                    <div class="auto cell">
                    <%= format_serial_no(reservation.serial_no) %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if @event.notes.reject(&:new_record?).any? %>
    <div class="small-12 cell">
      <h3><%= t(".notes_header") %></h3>
      <% @event.notes.reject(&:new_record?).each do |note| %>
        <%= simple_format note.body %>
        <p class="signature">
        <small>
          <%= t(".note_by_on", by: note.author_name, on: l(note.created_at, format: :long)) %>
        </small>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

<% unless Rails.env.development? %>
<%= javascript_tag do %>
  window.print();
  setTimeout(function() {
    window.close();
  }, 100);
<% end %>
<% end %>
