<div class="grid-x grid-margin-x">
  <div class="large-9 medium-12 cell">
    <%= link_to t(".edit_reservation_button_label"), event_reservations_path(@event), class: "button hide-for-large" %>
    <%= link_to t(".edit_button_label"), edit_event_path(@event), class: "button hide-for-large" %>
    <%= link_to t(".notify_button_label"), notify_event_path(@event), method: :post, class: "button warning hide-for-large" %>
    <%= link_to t(".print_button_label"), event_path(@event, format: :pdf), class: "button hide-for-large", target: "blank" %>
    <%= link_to t(".back_to_list_button_label"), events_path, class: "button secondary hide-for-large" %>
    <%= link_to t(".delete_button_label"), event_path(@event), method: :delete, class: "button secondary alert hide-for-large" %>
    <%= link_to t(".manage_reservations_button_label"), event_reservations_path(@event, manage: 1), class: "button hide-for-large" %>

    <div>
      <strong><%= t("title", scope: "activerecord.attributes.event") %>:</strong>
      <%= @event.title %>
    </div>

    <div>
      <strong><%= t("description", scope: "activerecord.attributes.event") %>:</strong>
      <%= simple_format @event.description %>
    </div>

    <div>
      <strong><%= t("dates", scope: "activerecord.attributes.event") %>:</strong>
      <%= format_date_range @event.real_date_range %>
    </div>

    <h2><%= t(".bill_of_materials") %></h2>
    <div class="grid-container bill-of-materials">
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <% @event.reservations.group_by(&:product).sort_by{|product, _| product.sort_key_for_pickup}.each do |product, reservations| %>
          <%= render partial: "product", locals: { product: product, reservations: reservations } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to t(".edit_reservation_button_label"), event_reservations_path(@event), class: "button expanded" %>
    <%= link_to t(".edit_button_label"), edit_event_path(@event), class: "button expanded" %>
    <%= link_to t(".notify_button_label"), notify_event_path(@event), method: :post, class: "button warning expanded" %>
    <%= link_to t(".print_button_label"), event_path(@event, format: :pdf), class: "button expanded" %>
    <%= link_to t(".back_to_list_button_label"), events_path, class: "button secondary expanded" %>

    <% if @event.reservations.any? %>
      <hr>

      <%= link_to t(".manage_reservations_button_label"), event_reservations_path(@event, manage: 1), class: "button expanded" %>
      <%= form_tag event_reservations_path(@event), method: :post do %>
        <%= hidden_field_tag "back_to_event", "1" %>
        <%= hidden_field_tag "lease_all", "1" %>
        <%= submit_tag t(".lease_all_button_label"), disabled: @event.reservations.all?(&:returned?), name: "lease_all", class: "button expanded success" %>
      <% end %>
    <% end %>

    <hr>

    <%= link_to t(".delete_button_label"), event_path(@event), method: :delete, class: "button expanded alert" %>

    <hr>

    <%= render partial: "shared/notes", locals: { parent: @event, note: @note, create_note_path: event_notes_path(@event) } %>
  </div>

  <div class="small-12 cell hide-for-large">
    <hr>
    <%= render partial: "shared/notes", locals: { parent: @event, note: @note, create_note_path: event_notes_path(@event) } %>
  </div>

  <div class="small-12 cell hide-for-large">
    <%= link_to t(".back_to_list_button_label"), events_path, class: "button secondary hide-for-large" %>
  </div>
</div>
