<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @event.group.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @event.notes %>
</p>

<p>
  <strong>Start on:</strong>
  <%= @event.start_on %>
</p>

<p>
  <strong>End on:</strong>
  <%= @event.end_on %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
