<div class="grid-x grid-margin-x">
  <div class="large-9 medium-12 cell">
    <%= link_to "Edit reservations", event_reservations_path(@event), class: "button large hide-for-large" %>
    <%= link_to "Edit this event", edit_event_path(@event), class: "button large hide-for-large" %>
    <%= link_to "Print this event", print_event_path(@event), class: "button large hide-for-large" %>
    <%= link_to "Back to list", events_path, class: "button secondary large hide-for-large" %>

    <div>
      <strong>Group:</strong>
      <%= @event.group.name %>
    </div>

    <div>
      <strong>Title:</strong>
      <%= @event.title %>
    </div>

    <div>
      <strong>Description:</strong>
      <%= simple_format @event.description %>
    </div>

    <div>
      <strong>Dates:</strong>
      <%= format_date_range @event.date_range %>
    </div>

    <h2>Bill of materials</h2>
    <div class="grid-container bill-of-materials">
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <% @event.reservations.map(&:product).sort_by(&:sort_key_for_pickup).each do |product| %>
          <div class="cell">
            <div class="card" style="">
              <div class="card-divider">
                <h4><%= link_to product.name, product_path(product) %></h4>
              </div>
              <% if product.images.first %>
                <%= link_to image_tag(product.images.first, alt: "", class: "product-image"), product.images.first %>
              <% else %>
                <%= image_tag "http://via.placeholder.com/250x250?text=%20", alt: "", class: "product-image" %>
              <% end %>
              <div class="card-section">
                <p><strong>Location</strong>: <%= format_product_location(product) %></p>
                <%= simple_format product.description %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to "Edit reservations", event_reservations_path(@event), class: "button expanded" %>

    <%= link_to "Edit this event", edit_event_path(@event), class: "button expanded" %>
    <%= link_to "Print this event", print_event_path(@event), class: "button expanded" %>
    <%= link_to "Back to list", events_path, class: "button secondary expanded" %>

    <hr>

    <h3>Notes</h3>

    <%= form_for @note, url: event_notes_path(@event) do |form| %>
      <%= form.label :body, "Add note:" %>
      <%= form.text_area :body, size: "10x3" %>
      <%= form.submit "Save", class: "button primary small" %>
    <% end %>

    <% if @event.notes.reject(&:new_record?).any? %>
      <% @event.notes.reject(&:new_record?).sort_by(&:created_at).reverse.each do |note| %>
        <hr>
        <%= simple_format note.body %>
        <p class="signature"><small>by <%= note.author_name %>, <span title="<%= note.created_at.to_formatted_s(:iso8601) %>"><%= time_ago_in_words note.created_at %></span> ago</small></p>
      <% end %>
    <% end %>
  </div>

  <div class="small-12 cell hide-for-large">
    <hr>
    <h3>Notes</h3>

    <%= form_for @note, url: event_notes_path(@event) do |form| %>
      <%= form.label :body, "Add note:" %>
      <%= form.text_area :body, size: "10x3" %>
      <%= form.submit "Save", class: "button primary small" %>
    <% end %>

    <% if @event.notes.reject(&:new_record?).any? %>
      <% @event.notes.reject(&:new_record?).sort_by(&:created_at).reverse.each do |note| %>
        <hr>
        <%= simple_format note.body %>
        <p class="signature"><small>by <%= note.author_name %>, <span title="<%= note.created_at.to_formatted_s(:iso8601) %>"><%= time_ago_in_words note.created_at %></span> ago</small></p>
      <% end %>
    <% end %>
  </div>
</div>
