<div class="grid-x grid-margin-x">
  <div class="large-9 medium-12 cell">
    <%= link_to t(".edit_reservation_button_label"), event_reservations_path(@event), class: "button hide-for-large" %>
    <%= link_to t(".edit_button_label"), edit_event_path(@event), class: "button hide-for-large" %>
    <%= link_to t(".print_button_label"), event_path(@event, print: 1), class: "button hide-for-large", target: "blank" %>
    <%= link_to t(".back_to_list_button_label"), events_path, class: "button secondary hide-for-large" %>
    <%= link_to t(".delete_button_label"), event_path(@event), method: :delete, class: "button secondary alert hide-for-large" %>

    <div>
      <strong><%= t("title", scope: "activerecord.attributes.event") %>:</strong>
      <%= @event.title %>
    </div>

    <div>
      <strong><%= t("description", scope: "activerecord.attributes.event") %>:</strong>
      <%= simple_format @event.description %>
    </div>

    <div>
      <strong><%= t("dates", scope: "activerecord.attributes.event") %>:</strong>
      <%= format_date_range @event.real_date_range %>
    </div>

    <h2><%= t(".bill_of_materials") %></h2>
    <div class="grid-container bill-of-materials">
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <% @event.reservations.group_by(&:product).sort_by{|product, _| product.sort_key_for_pickup}.each do |product, reservations| %>
          <div class="cell">
            <div class="card" style="">
              <div class="card-divider">
                <h4>
                  <% if reservations.size > 1 %>
                  (<%= number_with_delimiter reservations.size %>)
                <% end %>
                <%= link_to product.name, product_path(product) %>
                </h4>
              </div>
              <%= link_to product do %>
                <%= product_image product, height: 250 %>
              <% end %>
              <% if product.aisle.present? || product.shelf.present? || product.unit.present? || product.description.present? %>
                <div class="card-section">
                  <% if product.aisle.present? || product.shelf.present? || product.unit.present? %>
                    <p><strong><%= t("activerecord.attributes.product.location") %></strong>: <%= format_product_location(product) %></p>
                  <% end %>
                  <% if product.description.present? %>
                    <%= simple_format product.description %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to t(".edit_reservation_button_label"), event_reservations_path(@event), class: "button expanded" %>
    <%= link_to t(".edit_button_label"), edit_event_path(@event), class: "button expanded" %>
    <%= link_to t(".print_button_label"), event_path(@event, print: 1), class: "button expanded", target: "blank" %>
    <%= link_to t(".back_to_list_button_label"), events_path, class: "button secondary expanded" %>

    <hr>

    <%= link_to t(".delete_button_label"), event_path(@event), method: :delete, class: "button expanded alert" %>

    <hr>

    <%= render partial: "shared/notes", locals: { parent: @event, note: @note, create_note_path: event_notes_path(@event) } %>
  </div>

  <div class="small-12 cell hide-for-large">
    <hr>
    <%= render partial: "shared/notes", locals: { parent: @event, note: @note, create_note_path: event_notes_path(@event) } %>
  </div>

  <div class="small-12 cell hide-for-large">
    <%= link_to t(".back_to_list_button_label"), events_path, class: "button secondary hide-for-large" %>
  </div>
</div>
