<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-10 medium-12 cell">
      <%= link_to "Edit reservations", reservations_path(@event), class: "button large hide-for-large" %>
      <%= link_to "Edit", edit_event_path(@event), class: "button large hide-for-large" %>
      <%= link_to "Back to list", events_path, class: "button secondary large hide-for-large" %>

      <div>
        <strong>Group:</strong>
        <%= @event.group.name %>
      </div>

      <div>
        <strong>Title:</strong>
        <%= @event.title %>
      </div>

      <div>
        <strong>Notes:</strong>
        <%= simple_format @event.notes %>
      </div>

      <div>
        <strong>Dates:</strong>
        <%= @event.start_on %> –  <%= @event.end_on %>
      </div>

      <h2>Bill of materials</h2>
      <ol>
        <% @event.reservations.map(&:product).sort_by(&:sort_key).each do |product| %>
          <li><%= link_to product.name, product_path(product) %> <%= [ product.aisle, product.shelf, product.unit ].reject(&:blank?).to_sentence(words_connector: " / ", two_words_connector: " / ", last_word_connector: " / ") %></li>
        <% end %>
      </ol>
    </div>

    <div class="large-2 medium-12 cell show-for-large">
      <%= link_to "Edit reservations", reservations_path(@event), class: "button expanded" %>

      <%= link_to "Edit", edit_event_path(@event), class: "button expanded" %>
      <%= link_to "Back to list", events_path, class: "button secondary expanded" %>
    </div>
  </div>
</div>
