<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @reservation.group.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reservation.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @reservation.notes %>
</p>

<p>
  <strong>Start on:</strong>
  <%= @reservation.start_on %>
</p>

<p>
  <strong>End on:</strong>
  <%= @reservation.end_on %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
