<%= form_with(model: product, local: true) do |form| %>
  <%= hidden_field_tag :clone_from, @clone_from&.to_param %>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <% if product.errors.any? %>
        <div class="small-12 cell">
          <div id="error_explanation">
            <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
              <% product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="small-12 cell">
        <%= form.label :name %>
        <%= form.text_field :name, autocomplete: false %>
      </div>

      <div class="small-12 cell">
        <%= form.label :images %>
        <%= form.file_field :images, :multiple => true, :"aria-describedby" => "help-on-images", :autocomplete => false %><br>
        <p id="help-on-images" class="help-text"><%= t(".help_on_images") %></p>
      </div>

      <div class="small-12 cell">
        <fieldset class="fieldset">
          <legend><%= t(".location_label") %></legend>
          <%= form.label :building %>
          <%= form.text_field :building %>

          <%= form.label :aisle %>
          <%= form.text_field :aisle %>

          <%= form.label :shelf %>
          <%= form.text_field :shelf %>

          <%= form.label :unit %>
          <%= form.text_field :unit %>
        </fieldset>
      </div>

      <div class="small-12 cell">
        <%= form.label :description %>
        <%= form.text_area :description, size: "10x5" %>
      </div>

      <div class="small-12 cell">
        <%= form.label :quantity %>
        <%= form.number_field :quantity %>
      </div>

      <div class="small-12 cell">
        <fieldset class="fieldset">
          <legend><%= t(".categories_label") %></legend>
          <div class="grid-container">
            <div class="grid-x grid-margin-x small-up-3 medium-up-4">
              <%= form.collection_check_boxes :category_slugs, @categories, :slug, ->(category){ t(category.name, scope: "categories") } do |b| %>
                <div class="cell">
                  <%= b.check_box %> <%= b.label %>
                </div>
              <% end %>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="small-12 cell">
        <%= form.submit class: "button primary" %>
        <%= render partial: "shared/or" %>
        <% if @product.new_record? %>
          <%= link_to t(".cancel_button_label"), products_path, class: "button secondary" %>
        <% else %>
          <%= link_to t(".cancel_button_label"), @product, class: "button secondary" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
