<div class="grid-x grid-padding-x">
  <div class="large-9 medium-12 cell">
    <%= form_tag products_path, method: :get do %>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="medium-shrink cell">
            <%= label_tag :filter, t(".filter_label"), class: "middle" %>
          </div>
          <div class="medium-shrink cell">
            <%= text_field_tag :filter, @filter %>
          </div>

          <div class="medium-shrink cell">
            <%= label_tag :category, t(".category_label"), class: "middle" %>
          </div>
          <div class="medium-shrink cell">
            <%= select_tag :category, options_from_collection_for_select(@categories, :slug, ->(category){ t(category.name, scope: "categories") }, @selected_category ? @selected_category.slug : nil), include_blank: true %>
          </div>

          <div class="medium-auto cell">
            <%= submit_tag t(".search_button_label"), class: "button" %> <%= link_to t(".view_all_button_label"), products_path, class: "button secondary" %>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to t(".new_product_button_label"), new_product_path, class: "button hide-for-large" %>

    <table class="hover stack product-list">
      <thead>
        <tr>
          <th><%= t(".name_header") %></th>
          <th><%= t(".location_header") %></th>
          <th><%= t(".description_header") %></th>
          <th><%= t(".categories_header") %></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <%= link_to product.name, product %> <br>
              <% if product.images.first %>
                <%= link_to image_tag(product.images.first, alt: "", class: "product-image"), product %>
              <% else %>
                <%= link_to image_tag("https://via.placeholder.com/100x100?text=%20", alt: "", class: "product-image"), product %>
              <% end %>
            </td>
            <td><%= format_product_location(product) %></td>
            <td><%= product.description %></td>
            <td><%= product.categories.map(&:name).map{|name| t(name, scope: "categories") }.sort_by(&:downcase).to_sentence %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to t(".new_product_button_label"), new_product_path, class: "button expanded" %>
  </div>
</div>
