<div class="grid-x grid-padding-x">
  <div class="large-9 medium-12 cell">
    <%= form_tag products_path, method: :get, class: "search-form" do %>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="medium-shrink cell show-for-sr">
            <%= label_tag :filter, t(".filter_label"), class: "middle" %>
          </div>
          <div class="medium-shrink cell">
            <%= text_field_tag :filter, @filter, placeholder: t(".filter_label"), autocomplete: false %>
          </div>

          <div class="medium-shrink cell show-for-sr">
            <%= label_tag :category, t(".category_label"), class: "middle" %>
          </div>
          <div class="medium-shrink cell">
            <%= select_tag :category, options_from_collection_for_select(@categories, :slug, ->(category){ t(category.name, scope: "categories") }, @selected_category ? @selected_category.slug : nil), include_blank: true %>
          </div>

          <div class="medium-auto cell">
            <%= submit_tag t(".search_button_label"), name: nil, class: "button" %> <%= link_to t(".view_all_button_label"), products_path, class: "button secondary" %>
          </div>
        </div>
      </div>
    <% end %>

    <% if current_member.inventory_director? %>
      <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <div class="cell">
            <%= link_to t(".new_product_button_label"), new_product_path, class: "button hide-for-large" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <table class="hover stack product-list">
            <thead>
              <tr>
                <th><%= t(".name_header") %></th>
                <th><%= t(".quantity_header") %></th>
                <th><%= t(".location_header") %></th>
                <th><%= t(".description_header") %></th>
                <th><%= t(".categories_header") %></th>
              </tr>
            </thead>

            <tbody>
              <% if @products.empty? %>
                <tr>
                  <td colspan="5"><%= t(".sorry_no_elements") %></td>
                </tr>
              <% end %>
              <% @products.each do |product| %>
                <tr>
                  <td>
                    <%= link_to product.name, product %> <br>
                    <%= entity_image product, height: 250 %>
                  </td>
                  <td><%= number_with_delimiter product.instances.size %></td>
                  <td><%= format_product_location(product) %></td>
                  <td><%= product.description %></td>
                  <td><%= product.categories.map(&:name).map{|name| t(name, scope: "categories") }.sort_by(&:downcase).to_sentence %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @products %>
        </div>
      </div>
    </div>
  </div>

  <% if current_member.inventory_director %>
    <div class="large-3 medium-12 cell show-for-large">
      <%= link_to t(".new_product_button_label"), new_product_path, class: "button expanded" %>
    </div>
  <% end %>
</div>
