<div class="grid-x grid-padding-x">
  <div class="large-9 medium-12 cell">
    <%= form_tag products_path, method: :get do %>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="medium-shrink cell">
            <%= label_tag :filter, "Filter", class: "middle" %>
          </div>
          <div class="medium-shrink cell">
            <%= text_field_tag :filter, @filter %>
          </div>

          <div class="medium-shrink cell">
            <%= label_tag :category, "Category", class: "middle" %>
          </div>
          <div class="medium-shrink cell">
            <%= select_tag :category, options_from_collection_for_select(@categories, :slug, :name, @selected_category ? @selected_category.slug : nil), include_blank: true %>
          </div>

          <div class="medium-auto cell">
            <%= submit_tag "Search", class: "button" %> <%= link_to "View all", products_path, class: "button secondary" %>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to "New Product", new_product_path, class: "button hide-for-large" %>

    <table class="hover stack product-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Description</th>
          <th>Categories</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <%= link_to product.name, product %> <br>
              <% if product.images.first %>
                <%= image_tag product.images.first, alt: "", class: "product-image" %>
              <% else %>
                <%= image_tag "http://via.placeholder.com/100x100?text=%20", alt: "", class: "product-image" %>
              <% end %>
            </td>
            <td><%= format_product_location(product) %></td>
            <td><%= product.description %></td>
            <td><%= product.categories.map(&:name).sort_by(&:downcase).to_sentence %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to "New Product", new_product_path, class: "button expanded" %>
  </div>
</div>
