<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-10 medium-12 cell">
      <%= link_to "Edit", edit_product_path(@product), class: "button large hide-for-large" %>
      <%= link_to "Back to list", products_path, class: "button secondary large hide-for-large" %>

      <p>
      <strong>Name:</strong>
      <%= @product.name %>
      </p>

      <p>
      <strong>Description:</strong>
      <%= @product.description %>
      </p>
    </div>

    <div class="large-2 medium-12 cell show-for-large">
      <%= link_to "Edit", edit_product_path(@product), class: "button expanded" %>
      <%= link_to "Back to list", products_path, class: "button secondary expanded" %>
    </div>
  </div>
</div>
