<div class="grid-x grid-margin-x">
  <div class="large-9 medium-12 cell">
    <%= link_to "Edit", edit_product_path(@product), class: "button large hide-for-large" %>
    <%= link_to "Back to list", products_path, class: "button secondary large hide-for-large" %>

    <div>
      <% @product.images.each do |image| %>
        <%= link_to image_tag(image, alt: "", size: "300x225"), image %>
      <% end %>
    </div>

    <div>
      <strong>Name:</strong>
      <%= @product.name %>
    </div>

    <div>
      <strong>Location:</strong>
      <%= [ @product.aisle, @product.shelf, @product.unit ].reject(&:blank?).to_sentence(words_connector: " / ", two_words_connector: " / ", last_word_connector: " / ") %>
    </div>

    <div>
      <strong>Description:</strong>
      <%= simple_format @product.description %>
    </div>

    <h2>Product Reservation History</h2>
    <table class="hover">
      <thead>
        <th>Dates</th>
        <th>Event</th>
      </thead>
      <tbody>
        <% @product.reservations.sort_by(&:start_on).reverse.each do |reservation| %>
          <tr>
            <td><%= format_date_range(reservation.date_range) %></td>
            <td><%= link_to reservation.title, event_reservations_path(reservation.event) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to "Edit", edit_product_path(@product), class: "button expanded" %>
    <%= link_to "Back to list", products_path, class: "button secondary expanded" %>

    <hr>

    <h3>Notes</h3>

    <%= form_for @note, url: product_notes_path(@product) do |form| %>
      <%= form.label :body, "Add note:" %>
      <%= form.text_area :body, size: "10x3" %>
      <%= form.submit "Save", class: "button primary small" %>
    <% end %>

    <% if @product.notes.reject(&:new_record?).any? %>
      <% @product.notes.reject(&:new_record?).sort_by(&:created_at).reverse.each do |note| %>
        <hr>
        <%= simple_format note.body %>
        <p><small>by <%= note.author_name %>, <span title="<%= note.created_at.to_formatted_s(:iso8601) %>"><%= time_ago_in_words note.created_at %></span> ago</small></p>
      <% end %>
    <% end %>
  </div>

  <div class="small-12 cell hide-for-large">
    <hr>
    <h3>Notes</h3>

    <%= form_for @note, url: product_notes_path(@product) do |form| %>
      <%= form.label :body, "Add note:" %>
      <%= form.text_area :body, size: "10x3" %>
      <%= form.submit "Save", class: "button primary small" %>
    <% end %>

    <% if @product.notes.reject(&:new_record?).any? %>
      <% @product.notes.reject(&:new_record?).sort_by(&:created_at).reverse.each do |note| %>
        <hr>
        <%= simple_format note.body %>
        <p><small>by <%= note.author_name %>, <span title="<%= note.created_at.to_formatted_s(:iso8601) %>"><%= time_ago_in_words note.created_at %></span> ago</small></p>
      <% end %>
    <% end %>
  </div>
</div>
