<div class="grid-x grid-margin-x">
  <div class="large-9 medium-12 cell">
    <%= link_to t(".edit_button_label"), edit_product_path(@product), class: "button small hide-for-large" %>
    <%= link_to t(".clone_button_label"), new_product_path(clone_from: @product), class: "button small hide-for-large" %>
    <%= link_to t(".back_to_list_button_label"), products_path, class: "button secondary small hide-for-large" %>

    <div>
      <% @product.images.each do |image| %>
        <%= link_to image_tag(image, alt: "", size: "300x225"), image %>
      <% end %>
    </div>

    <div>
      <strong><%= t("name", scope: "activerecord.attributes.product") %>:</strong>
      <%= @product.name %>
    </div>

    <div>
      <strong><%= t("location", scope: "activerecord.attributes.product") %>:</strong>
      <%= [ @product.aisle, @product.shelf, @product.unit ].reject(&:blank?).to_sentence(words_connector: " / ", two_words_connector: " / ", last_word_connector: " / ") %>
    </div>

    <div>
      <strong><%= t("description", scope: "activerecord.attributes.product") %>:</strong>
      <%= simple_format @product.description %>
    </div>

    <h3><%= t(".product_reservation_history_header") %></h3>
    <table class="hover">
      <thead>
        <th><%= t(".dates_header") %></th>
        <th><%= t(".event_header") %></th>
      </thead>
      <tbody>
        <% @product.reservations.sort_by(&:start_on).reverse.each do |reservation| %>
          <tr>
            <td><%= format_date_range(reservation.date_range) %></td>
            <td><%= link_to reservation.title, event_reservations_path(reservation.event) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= link_to t(".edit_button_label"), edit_product_path(@product), class: "button expanded" %>
    <%= link_to t(".clone_button_label"), new_product_path(clone_from: @product), class: "button expanded" %>
    <%= link_to t(".back_to_list_button_label"), products_path, class: "button secondary expanded" %>

    <hr>

    <%= render partial: "shared/notes", locals: { parent: @product, note: @note, create_note_path: product_notes_path(@product) } %>
  </div>

  <div class="small-12 cell hide-for-large">
    <hr>
    <%= render partial: "shared/notes", locals: { parent: @product, note: @note, create_note_path: product_notes_path(@product) } %>
  </div>

  <div class="small-12 cell hide-for-large">
    <%= link_to t(".back_to_list_button_label"), products_path, class: "button secondary small hide-for-large" %>
  </div>
</div>
