<div class="grid-x grid-margin-x">
  <div class="large-9 medium-12 cell">
    <%= form_tag event_reservations_path(@event, @product) do %>
      <%= submit_tag t(".add_to_cart_label"), name: :add, class: "button small hide-for-large" %>
    <% end if @event %>
    <%= link_to t(".edit_button_label"), edit_product_path(@product), class: "button small hide-for-large" if current_member.inventory_director? %>
    <%= link_to t(".clone_button_label"), new_product_path(clone_from: @product), class: "button small hide-for-large" if current_member.inventory_director? %>
    <%= link_to t(".back_to_list_button_label"), products_path, class: "button secondary small hide-for-large" %>
    <%= link_to t(".delete_button_label"), product_path(@product), method: :delete, class: "button small alert hide-for-large" if current_member.inventory_director? %>

    <div>
      <% @product.images.select(&:blob).each do |image| %>
        <%= link_to image_tag(image, alt: "", size: "300x225"), image %>
        <%= button_to t(".delete_image_button_label"), product_image_path(@product, image), method: :delete, class: "button tiny alert" if current_member.inventory_director? %>
      <% end %>
    </div>

    <div>
      <strong><%= t("name", scope: "activerecord.attributes.product") %>:</strong>
      <%= @product.name %>
    </div>

    <div>
      <strong><%= t("location", scope: "activerecord.attributes.product") %>:</strong>
      <%= format_product_location(@product) %>
    </div>

    <div>
      <strong><%= t("quantity", scope: "activerecord.attributes.product") %>:</strong>
      <%= number_with_delimiter @product.quantity %>
    </div>

    <div>
      <strong><%= t("description", scope: "activerecord.attributes.product") %>:</strong>
      <%= simple_format @product.description %>
    </div>

    <% if @product.instances.size > 1 %>
      <h3><%= t(".instance_serial_nos_header") %></h3>
      <table class="hover">
        <thead>
          <tr>
            <th><%= t(".serial_no_header") %></th>
          </tr>
        </thead>
        <tbody>
          <% @product.instances.each do |instance| %>
            <tr>
              <td><%= format_serial_no(instance.serial_no) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <h3><%= t(".product_reservation_history_header") %></h3>
    <table class="hover">
      <thead>
        <th><%= t(".serial_no_header") %></th>
        <th><%= t(".dates_header") %></th>
        <th><%= t(".event_header") %></th>
      </thead>
      <tbody>
        <% @product.reservations.sort_by{|reservation| [reservation.serial_no, reservation.start_on]}.reverse.each do |reservation| %>
          <tr>
            <td><%= format_serial_no(reservation.serial_no) %></td>
            <td><%= format_date_range(reservation.real_date_range) %></td>
            <td><%= link_to reservation.title, event_reservations_path(reservation.event) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= form_tag event_reservations_path(@event, @product) do %>
      <h4><%= @event.title %></h4>
      <h6><%= format_date_range(@event.real_date_range) %></h6>
      <%= hidden_field_tag "products[#{@product.slug}]", "1" %>
      <%= submit_tag t(".add_to_cart_label"), name: :add, class: "button expanded" %>
      <hr>
    <% end if @event %>
    <%= link_to t(".edit_button_label"), edit_product_path(@product), class: "button expanded" if current_member.inventory_director? %>
    <%= link_to t(".clone_button_label"), new_product_path(clone_from: @product), class: "button expanded" if current_member.inventory_director? %>
    <%= link_to t(".back_to_list_button_label"), products_path, class: "button secondary expanded" %>

    <hr>

    <% if current_member.inventory_director? %>
      <%= link_to t(".delete_button_label"), product_path(@product), method: :delete, class: "button alert expanded" %>
      <hr>
    <% end %>

    <%= render partial: "shared/notes", locals: { parent: @product, note: @note, create_note_path: product_notes_path(@product) } %>
  </div>

  <div class="small-12 cell hide-for-large">
    <hr>
    <%= render partial: "shared/notes", locals: { parent: @product, note: @note, create_note_path: product_notes_path(@product) } %>
  </div>

  <div class="small-12 cell hide-for-large">
    <%= link_to t(".back_to_list_button_label"), products_path, class: "button secondary small hide-for-large" %>
  </div>
</div>
