<div class="grid-x grid-margin-x">
  <div class="large-9 medium-12 cell">
    <%= form_tag event_reservations_path(@event, @consumable) do %> <%= submit_tag t(".add_to_cart_label"), name: :add, class: "button small hide-for-large" %>
    <% end if @event %>
    <%= link_to t(".edit_button_label"), edit_consumable_path(@consumable), class: "button small hide-for-large" if current_member.inventory_director? %>
    <%= link_to t(".clone_button_label"), new_consumable_path(clone_from: @consumable), class: "button small hide-for-large" if current_member.inventory_director? %>
    <%= link_to t(".back_to_list_button_label"), consumables_path, class: "button secondary small hide-for-large" %>
    <%= link_to t(".delete_button_label"), consumable_path(@consumable), method: :delete, class: "button small alert hide-for-large" if current_member.inventory_director? %>

    <div class="grid-x grid-padding-x small-up-1 medium-up-3">
      <% @consumable.images.select(&:blob).sort_by{|blob| blob.filename.to_s.downcase}.each do |image| %>
        <%= render partial: "shared/image", locals: { entity: @consumable, image: image } %>
      <% end %>
    </div>

    <div>
      <strong><%= t("name", scope: "activerecord.attributes.consumable") %>:</strong>
      <%= @consumable.name %>
    </div>

    <div>
      <strong><%= t("location", scope: "activerecord.attributes.consumable") %>:</strong>
      <%= format_product_location(@consumable) %>
    </div>

    <div>
      <strong><%= t("base_quantity", scope: "activerecord.attributes.consumable") %>:</strong>
    </div>

    <div>
      <strong><%= t("internal_unit_price", scope: "activerecord.attributes.consumable") %>:</strong>
      <%= number_to_currency @consumable.internal_unit_price %> / <%= format_quantity @consumable.base_quantity %>
    </div>

    <div>
      <strong><%= t("external_unit_price", scope: "activerecord.attributes.consumable") %>:</strong>
      <%= number_to_currency @consumable.external_unit_price %> / <%= format_quantity @consumable.base_quantity %>
    </div>

    <div>
      <strong><%= t("description", scope: "activerecord.attributes.consumable") %>:</strong>
      <%= simple_format @consumable.description %>
    </div>

    <%= form_for @consumable_transaction, url: consumable_transactions_path(@consumable) do |f| %>
      <h3><%= t ".consumable_reservation_history_header" %></h3>
      <table>
        <col width="15%"/>
        <col width="15%"/>
        <col width="50%"/>
        <col width="20%"/>
        <thead>
          <tr>
            <th><%= t(".date_header") %></th>
            <th><%= t(".quantity_header") %></th>
            <th colspan="2"><%= t(".reason_or_event_header") %></th>
          </tr>
        </thead>
        <tbody>
          <% @consumable.consumable_transactions.sort_by(&:date).reject(&:new_record?).each do |consumable_transaction| %>
            <tr>
              <td><%= l consumable_transaction.date, format: :with_year %></td>
              <td class="quantity"><%= format_quantity consumable_transaction.quantity %></td>
              <td colspan="2">
                <% if consumable_transaction.event %>
                  <%= link_to consumable_transaction.event.title, consumable_transaction.event %>
                <% else %>
                  <%= consumable_transaction.reason %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if current_member.inventory_director? %>
            <tr>
              <td><%= l Date.current, format: :with_year %></td>
              <td>
                <%= f.text_field :quantity, value: format_quantity(@consumable_transaction.quantity, si_prefix: SI::BASE), class: "quantity" %>
              </td>
              <td>
                <%= f.text_field :reason %>
              </td>
              <td>
                <%= f.submit class: "button primary small" %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td><%= l Date.current, format: :with_year %></td>
            <td class="quantity">
              <%= format_quantity @consumable.available_quantity %>
            </td>
            <td colspan="2"></td>
          </tr>
        </tfoot>
      </table>
    <% end %>
  </div>

  <div class="large-3 medium-12 cell show-for-large">
    <%= form_tag event_reservations_path(@event, @consumable) do %>
      <h4><%= @event.title %></h4>
      <h6><%= format_date_range(@event.real_date_range) %></h6>
      <%= hidden_field_tag "consumables[#{@consumable.slug}]", "1" %>
      <%= submit_tag t(".add_to_cart_label"), name: :add, class: "button expanded" %>
      <hr>
    <% end if @event %>
    <%= link_to t(".edit_button_label"), edit_consumable_path(@consumable), class: "button expanded" if current_member.inventory_director? %>
    <%= link_to t(".clone_button_label"), new_consumable_path(clone_from: @consumable), class: "button expanded" if current_member.inventory_director? %>
    <%= link_to t(".back_to_list_button_label"), consumables_path, class: "button secondary expanded" %>

    <hr>

    <% if current_member.inventory_director? %>
      <%= link_to t(".delete_button_label"), consumable_path(@consumable), method: :delete, class: "button alert expanded" %>
      <hr>
    <% end %>

    <%= render partial: "shared/notes", locals: { parent: @consumable, note: @note, create_note_path: consumable_notes_path(@consumable) } %>
  </div>

  <div class="small-12 cell hide-for-large">
    <hr>
    <%= render partial: "shared/notes", locals: { parent: @consumable, note: @note, create_note_path: consumable_notes_path(@consumable) } %>
  </div>

  <div class="small-12 cell hide-for-large">
    <%= link_to t(".back_to_list_button_label"), consumables_path, class: "button secondary small hide-for-large" %>
  </div>
</div>
