<!DOCTYPE html>
<html class="no-js" lang="<%= I18n.locale %>" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% if current_group && current_group.logo.attached? %>
      <link rel="icon" sizes="192x192" href="/apple-touch-icon/192x192.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon/180x180.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon/152x152.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon/144x144.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon/120x120.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon/114x114.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon/76x76.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon/72x72.png">
      <link rel="apple-touch-icon" href="/apple-touch-icon/57x57.png">
    <% end %>

    <title><%= page_title.blank? ? nil : page_title + " – ".html_safe %>Scoutinv</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body class="<%= :staging if STAGING %><%= :development if Rails.env.development? %>">
    <div class="top-bar" id="responsive-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Scoutinv</li>
          <li class="<%= :active if on_home_page? %>"><%= link_to t("home", scope: "top-bar"), root_path %></li>
          <% if member_signed_in? %>
            <li class="<%= :active if on_events_page? %>"><%= link_to t("events", scope: "top-bar"), events_path %></li>
            <li class="<%= :active if on_products_page? %>"><%= link_to t("products", scope: "top-bar"), products_path %></li>
            <li class="<%= :active if on_groups_page? %>">
              <%= link_to  current_group do %>
                <% if current_group.logo.attached? %>
                  <%= image_tag current_group.logo.variant(resize: "x15"), alt: "", height: 15, style: "max-height: 15px" %>
                <% end %>
                <%= truncate(current_group.name, length: 30) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <% if Rails.env.development? || STAGING %>
            <li>
              <%= link_to Rails.env.development? ? "DÉVELOPPEMENT" : "TEST", "#", class: "clear button secondary" %>
            </li>
          <% end %>
          <% if member_signed_in? && current_member.email == "francois@teksol.info" %>
            <li><%= link_to t("groups", scope: "top-bar"), groups_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="large-12 cell">
          <h1><%= page_title || "Scoutinv" %></h1>
        </div>

        <% if alert.present? || notice.present? %>
          <div class="large-12 cell">
            <% if notice.present? %>
              <div class="callout success" data-closeable>
                <p><%= notice %></p>
              </div>
            <% end %>
            <% if alert.present? %>
              <div class="callout alert" data-closeable>
                <p><%= alert %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="grid-container">
      <%= yield %>
    </div>

    <footer>
      <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <div class="small-12 cell">
            <hr>
          </div>

          <div class="auto cell">
            <%= render partial: "layouts/footer" %>
          </div>
          <div class="shrink cell">
            <% if member_signed_in? %>
              <%= button_to t("logout", scope: "footer"), session_path(current_member.slug), class: "button secondary tiny", method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
