<!DOCTYPE html>
<html>
  <head>
    <title>Scoutin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

    <%= yield %>

    <% if user_signed_in? %>
      <p><%= button_to "Logout", session_path(current_user.slug), method: :delete %></p>
    <% end %>
  </body>
</html>
